@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('$fonts/poppins/Poppins-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('$fonts/poppins/Poppins-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('$fonts/poppins/Poppins-SemiBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('$fonts/poppins/Poppins-Bold.otf') format('opentype');
  font-display: swap;
}
