.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  margin: 110px auto 0;

  .input {
    padding: 10px 0;
  }
  .notWhitelisted {
    display: flex;
    align-items: center;
    gap: 10px;

    > svg {
      flex: 1 0 auto;
    }
  }
}

.action {
  .asset {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 10px;
    min-height: 40px;

    > svg {
      width: 40px;
      height: 40px;
    }
    .goraSVG {
      padding: 5px;
      padding-left: 2px;
    }
  }

  .info {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    white-space: nowrap;
  }
}
